Instructions:
Write Python code to solve each exercise.

Make sure your code runs without errors and shows the correct output.

Submit your GitHub link.

 

1. 

Create a list with 3 fruits (for example: apple, banana, orange).
 • Print the entire list.
 • Print each item separately.

 

2. 

Create a list with 4 names.
 • Change the first name to a different one.
 • Print the new list.

 

3. 

Create a list with 5 vehicles (for example: car, bus, bike).
 • Add one more vehicle to the end of the list.
 • Print the list.

 

4. 

Create a list with 6 foods.
 • Remove one food from the list.
 • Print the new list.

 

5. 

Create a list with 4 cities.
 • Sort the list in alphabetical order.
 • Reverse the list.

 

6. 

• Create a list with 3 animals.
 • Use a for loop to print each animal.

 

7. 

 • Create a list with numbers from 1 to 5.
 • Use a for loop to print each number multiplied by 2.

 

8.

Create a list with 6 friends.
 • Print the first three friends.
 • Print the last three friends.

 

9. 

Use range() to create a list with numbers from 1 to 10.
 • Print the list.

 

10.

 • Use list comprehension to create a list with the squares of numbers from 1 to 5.
 • Print the list.

# 1

In [1]:
basket = ['apple', 'banana', 'cherry']

In [2]:
print(basket)

['apple', 'banana', 'cherry']

In [3]:
for fruit in basket:
    print(fruit)

apple
banana
cherry

# 2

In [4]:
names = ['Alice', 'Bob', 'Charlie', 'David']

In [5]:
names[0] = 'Ann'
print(names)

['Ann', 'Bob', 'Charlie', 'David']

# 3

In [ ]:
vehicles = ['car', 'bike', 'bus', 'truck', 'scooter']
vehicles.append('van')
print(vehicles)

['car', 'bike', 'bus', 'truck', 'scooter', 'van']

# 4

In [9]:
food_items = ['bread', 'milk', 'eggs', 'cheese', 'butter']
food_items.pop()
print(food_items)

['bread', 'milk', 'eggs', 'cheese']

# 5

In [10]:
cities = ['New York', 'Los Angeles', 'Chicago', 'Houston']
cities.sort()
print(cities)

['Chicago', 'Houston', 'Los Angeles', 'New York']

# 6

In [11]:
animals = ['dog', 'cat', 'elephant']
for animal in animals:
    print(animal)

dog
cat
elephant

# 7

In [14]:
list = range(1,6)

for num in list:
    print(num*2)

2
4
6
8
10

# 8

In [20]:
names = ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank']

print(names[1:4])
print(names[3:])

['Bob', 'Charlie', 'David']
['David', 'Eve', 'Frank']

# 9

In [ ]:
list = range(1,11)
print(list)

# 10

In [22]:
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]